<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visualizar todos</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  {% include 'header.html' %}
  <div class="bloco"><h2>Ver todos os registros</h2></div>
  <div class="bloco">
    <table class="tabela">
      <tr class="tabela_header">
        <td>ID</td>
        <td>Nome</td>
        <td>Imagem</td>
        <td>Ações</td>
      </tr>
      {% for filme in filmes %}
      <tr>
      <td>{{filme["id"]}}</td>
      <td>{{filme["nome"]}}</td>
      <td><img src="{{filme['imagem_url']}}" alt="" srcset="" width="100" height="120"></td>
      <td><a href="/read/{{filme['id']}}" class="botao">Visualizar</a>
      <a href="/update/{{filme['id']}}" class="botao">Editar</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  
</body>
</html>