<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módulo 3 - Front End</title>
 <style>
   .betao{
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 100%;
   }
 </style>
</head>
<body>
<div class="betao">
  <p>Nome:{{nome}}</p>
  <p>Idade: {{idade}}</p>
  <img src="{{imagem}}" alt="" width="300px" height="300px">
  <p>{{mensagem}}</p>
</div>
</body>