<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
  <div class="calculadora">
  <div class="titulo"><h1>Calculadora de dano</h1></div>
  <div class="selecione"><h2>Selecione um personagem</h2></div>
  <div class="personagens">
    <div class="imagens">
      <img src="../static/feiticeira.png" alt="">
      <img src="../static/globin.png" alt="">
      <img src="../static/orc.png" alt="">
    </div>
  </div>
  <div class="nomes">
    <div class="texto">
      <h4>Feiticeira</h4>
      <h4>Goblin</h4>
      <h4>Orc</h4>
   </div>
  </div>
  <div class="selecione"><h2>Selecione uma arma</h2></div>
  <div class="armas">
    <div class="imagens">
      <img src="../static/arco.png" alt="">
      <img src="../static/espada.png" alt="">
      <img src="../static/soco.png" alt="">
    </div>
  </div>
  <div class="nomes">
    <div class="texto">
      <h4>Arco</h4>
      <h4>Espada</h4>
      <h4>Soco</h4>
   </div>
  </div>
</body>
</html>